<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ayoprez.deilylang" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/deilylang_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ayoprez.deilylang.Preferences"
            android:label="@string/app_name" />
        <activity
            android:name="com.ayoprez.login.LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.ayoprez.userProfile.ProfileScreen"
            android:label="@string/app_name" />
        <activity
            android:name="com.ayoprez.newMoment.NewMomentActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.ayoprez.savedWords.SavedWordsScreen"
            android:label="@string/app_name" />

        <receiver
            android:name="com.ayoprez.notification.AlarmReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" >
        </receiver>
        <receiver
            android:name="com.ayoprez.notification.DeviceBootReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.ayoprez.wordscreen.WordScreen"
            android:label="@string/title_activity_word_screen" >
        </activity>
    </application>

</manifest>
